*{margin: 0;padding: 0;box-sizing: border-box;font-family: Arial, Helvetica, sans-serif;}
ul {list-style: none;}
a{text-decoration: none;}

nav {width: 100%;}

.black {
  background-color: black;
  width: 100%;
  min-width: 1200px;
  height: 40px;
}

.top {
  width: 1200px; /*부모에다가 min-width을 적용해야 함*/
  margin: auto;
  display: flex;
  justify-content: flex-end;/*오른쪽 정렬*/

  align-items: center; /* 세로 가운데 정렬 */
}

.top ul { display: flex; /* <ul>을 플렉스 컨테이너로 설정 */}

.top li {
  font-size: 16px;
  line-height: 40px;
  margin-right: 40px;
}

.top a {color: white;}

.orange {
  background-color: orangered;
  width: 100%;
  min-width: 1200px;
  height: 80px;
}

.bottom {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between; /* 로고는 왼쪽, 나머지는 오른쪽으로 */
  align-items: center; /* 세로 가운데 정렬 */
  font-size: 18px;
}

.bottom > .logo {
  line-height: 80px;
  margin-left: 40px;
}

.bottom a {
  color: white;
}

.bottom .right {
  display: flex;
  justify-content: flex-end;
  line-height: 80px;
  margin-right: 40px;
}

.bottom .right li {
  margin-left: 45px;
}

.bottom .right a{
  color: white;
}
